{% extends "base.html" %}
{% load i18n %}

{% block navpath %} / <a href="/product/">{% trans 'Products' %}</a> / 
	<a href="/product/{{ product.pk }}">{{ product.pk }}</a> / 
	<a href="/backlog/">{% trans 'Backlog' %}</a>
	{% if inputname == 'tasks' %} / 
	<a href="/backlog/{{ backlog.pk }}">{{ backlog.pk }}</a> /
	<a href="/backlog/{{ backlog.pk }}/task">{% trans 'Tasks' %}</a>
	{% endif %}
{% endblock %}
{% block headline_text %}{{ subtitle }}{% endblock %}

{% block content %}

<div class="row" style="text-align:center">
  <p>Enter or paste into the following textbox, one item per line.</p>
  <form method="POST" action="{{ url }}">{% csrf_token %}
  <textarea name="{{ inputname }}" style="width:80%;height:200px;"></textarea>
  <div><input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}"></div>
  </form>
</div>

{% endblock %}
